/* Update tab menu styles */
.tab-menu {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-between;
  color: whitesmoke;
}

.tab-menu li {
  margin-right: 10px;
  flex-grow: 1;
  text-align: center;
}

.tab-menu li a {
  text-decoration: none;
  color: inherit;
  padding: 10px;
  position: relative;
}

.tab-menu li a:before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 3px;
  background-color: transparent;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.3s ease-in-out;
}

.tab-menu li a.active:before,
.tab-menu li a.hover:before {
  background-color: #54b5ff;
  transform: scaleX(1);
  border-radius: 12px;
}

.tab-content div {
  display: none;
  margin: 4% 4%;
  border-radius: 12px;
  text-shadow: 0 0 5% white;
  width: 92%; /* 2% Abstand nach links und rechts */
  box-shadow: 0 0 10px white; /* Schatten um den Inhalt */
  padding: 1%; /* Hinzugefügt: 1%iger Abstand zum Inhalt */
  background-color: #343434;
  color: whitesmoke;
}

.tab-content div:target {
  display: block;
}

body {
  background-color: #212121;
  font-family: "Cleon", sans-serif;
}
